body{
    background-color: moccasin;

}

h3{

    text-align: center;
}

.cal{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    background: cornflowerblue;
      
    border-radius: 7px;
    padding: 10px;
} 

.result{
    width: 250px;
    height: 35px;
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

.calc-btn{
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    background-color: coral;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;

}

.design{
    background-color: grey;
    font-weight: bold;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}